
body {
	font-size: large;
	color: blue;
	background: linear-gradient( rgb(153, 255, 153), white);
	
}

aside#aside_myFavs {
	display: inline;
}

button:hover {
	cursor: pointer;
}

div#flowers {
	border: solid purple 3px;
	height: 50px;
}
img#flowers {
	position: left;
	height: 50px;
	width: 50px;
	background-repeat: repeat;
}

nav.geek {
		background: linear-gradient(orange, yellow);
}

div.geek {
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
}


section.listFav {
	position: relative; 
	float: right;
	/* background-color: rgb(153, 255, 153); */
	padding-top: 95px;
	
}

section.addFav {
	padding-top: 10px;
 position: relative; 
	float: left;
	/* background-color: rgb(153, 255, 153); */
/*	background-position: 0% 0%; */
	
}


div#location {
	float: left;
	opacity: 1;
	padding-top: 25px;
	padding-bottom: 25px;
/*	position: relative; */
}	

div#div_watchPosition {
	position: relative;
	float: right;
	opacity: .6;
	padding-top: 25px;
	padding-bottom: 25px;
/*	position: relative; */
}	

iframe {
	background-color: white;
}