body {
 font-family: arial;
 background: linear-gradient(orange,white);
}

#txtareaRead {
	border: 2px solid #6495ED; 
	box-shadow: 10px 10px 5px; 
}

#sectionWrite {
  padding: 20px;
}

#txtareaWrite {
	border: 1px solid black;
}

button {
	background-color: blue;
	background-clip: content-box;
	color: white;
}
	#btnSend:hover {
		background-color: BlueViolet;
		color: white;
	}